{% extends "base.html" %}

{% block title %}
Activities - Nusa Health Company
{% endblock %}

{% block content %}

<!-- Activities start -->
<section id="latest_activity" class="container py-5">
    {% if latest_activity %}
    <div class="container">
        <h1 class="text-center fw-bold text-primary">NusaHealth's Activities</h1>
        <p class="lead mb-4 text-secondary text-center">
            <i>Every NusaHealth activity aims to provide you with practical knowledge that can be applied in everyday life.</i>
        </p>

        <!-- Latest Activity -->
        <div class="w-100 row rounded bg-white overflow-hidden shadow-card border border-primary mx-2 mb-5" style="height: 350px;">
            <div class="col-md-6 p-0">
                <img src="{{ latest_activity.image.url }}" alt="{{ latest_activity.title }}" class="w-100" style="object-fit: cover; height: 350px;">
            </div>
            <div class="col-md-6 px-3 py-4">
                <div class="border-bottom">
                    <a href="{% url 'detail-activities' latest_activity.id %}" class="text-decoration-none">
                        <h4 class="text-primary fw-semibold text-truncate-2" style="height: 60px;">
                            {{ latest_activity.title }}
                        </h4>
                    </a>
                    <p class="text-secondary text-truncate-6" style="height: 145px;">
                        {{ latest_activity.body }}
                    </p>
                </div>

                <div class="px-3 py-4 row justify-content-end align-items-center overflow-hidden" style="height: 80px;">
                    <div class="col-4 p-0">
                        <p class="m-0 text-end">
                            {{ latest_activity.publish|date:"d, M Y" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<!-- Search Bar and Latest Activities -->
<section id="search-activities" class="pb-5">
    <div class="container">
        <!-- SEARCH -->
        <div class="d-flex w-100 justify-content-between align-items-center border-bottom py-2">
            <h4 class="fw-bold w-25">Latest Activities</h4>
            <form method="GET" class="w-75 d-flex justify-content-between align-items-center" autocomplete="off">
                <input class="form-control" style="width: 95%;" type="search" name="q" placeholder="Search activities" value="{{ query|default:'' }}" aria-label="Search">
                <button class="btn btn-outline-primary px-2" style="width: 4%;" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <!-- Display Activities -->
        {% if activities %}
        <div class="row w-100 mt-4">
            {% for activity in activities %}
            <div class="col-md-4 p-2" style="cursor: pointer;">
                <div class="rounded shadow-btn bg-white overflow-hidden border border-primary">
                    <a href="{% url 'detail-activities' activity.id %}">
                        <img src="{{ activity.image.url }}" class="w-100 m-0 border-bottom border-secondary" style="height: 200px; object-fit: cover;" alt="{{ activity.title }}">
                    </a>
                    <div class="my-2 mx-3 border-bottom">
                        <a href="{% url 'detail-activities' activity.id %}" class="text-decoration-none">
                            <h5 class="fw-semibold text-truncate-1 fs-5" style="height: 25px;">
                                {{ activity.title }}
                            </h5>
                        </a>
                        <p class="text-secondary fs-small text-truncate-3 text-justify" style="height: 55px;">
                            {{ activity.body }}
                        </p>
                    </div>

                    <div class="m-3 row justify-content-end align-items-center overflow-hidden" style="height: 35px;">
                        <div class="col-4 p-0">
                            <p class="m-0 text-end" style="font-size: 14px;">
                                {{ activity.publish|date:"d, M Y" }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination mt-3">
            <span class="d-flex gap-2 align-items-center">
                {% if activities.has_previous %}
                    <a class="text-primary fs-3 fw-bold me-2 text-decoration-none" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
                    <a class="text-primary fs-3 fw-bold me-2 text-decoration-none" href="?page={{ activities.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
                {% endif %}
        
                <span>Page {{ activities.number }} of {{ activities.paginator.num_pages }}</span>
        
                {% if activities.has_next %}
                    <a class="text-primary fs-3 fw-bold ms-2 text-decoration-none" href="?page={{ activities.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
                    <a class="text-primary fs-3 fw-bold ms-2 text-decoration-none" href="?page={{ activities.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </span>
        </div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            No activities found.
        </div>
        {% endif %}
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#show-all-btn").on("click", function () {
            $(".category.d-none").removeClass("d-none");
            $(this).hide();
            $("#show-less-btn").removeClass("d-none");
        });

        $("#show-less-btn").on("click", function () {
            $(".category").slice(4).addClass("d-none");
            $(this).addClass("d-none");
            $("#show-all-btn").show();
        });
    });
</script>

{% endblock %}
